<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div>
	<section>  
		<header class="info">
			<h2>About Tweetful</h2>
		</header>
		<p>  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
		</p>
	</section>

	<section>  
		<header class="info">
			<h2>What Makes Us Different</h2>
		</header>
		<p>  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
		</p>
	</section>

	<section>  
		<header class="info">
			<h2>Company History</h2>
		</header>
		<p>  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
		</p>
	</section>
</div>

<footer>
	Contact Us: admin@tweetful.io
</footer>